@import "../../style/mesures.scss";
@import "../../style/colors.scss";

.tenant-container {
	width: calc(100vw - #{$nav-width});
}
.datagrid-button {
	margin-left: 10px !important;
}
.user-input-outter {
	text-align: center;
}
.add-user-input {
	margin-top: 10px !important;
	margin-right: 3px !important;
	margin-left: 3px !important;
}
