@import "../../style/colors.scss";

.login-view {
	display: flex;
	align-items: center;
	align-self: center;
	align-content: center;
	text-align: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0.627),
			rgba(255, 255, 255, 0.6)
		),
		url("../../res/img/cw.jpeg");
	background-position: center;
	background-size: cover;
	.white-background {
		padding: 50px;
		border-radius: 20px;
		background-color: white;

		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
			rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}
	.logo-container {
		.logo {
			width: 200px;
		}
	}
	.form-container {
		margin-top: 20px;
		width: 300px;
		display: flex;
		flex-direction: column;
		.input {
			margin-top: 10px;
		}
		.button {
			background-color: $blue;
			color: $light;
		}
	}
}
